.navigation-icons {
  padding: var(--spacing-lg) var(--spacing-md);
  background-color: none;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.icon-group-1-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 8px;
}

.icon-group-1-item-wrapper {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.icon-group-1-item-wrapper:hover {
  transform: translateY(-4px);
}

.icon-group-1-item {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icon-group-1-image {
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-group-1-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icon-group-1-badge {
  z-index: 1;
  color: var(--white);
  padding: 0 1px;
  border-radius: 12px;
  font-size: 10px;
  text-align: center;
  line-height: 1.3;
  min-width: 40px;
  word-wrap: break-word;
  max-width: 80px;
  margin-top: -15px;
  box-shadow: inset 0 0 0 0.01rem hsla(0, 0%, 100%, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

@media (max-width: 576px) {
  .icon-group-1-wrapper {
    gap: 4px;
  }

  .icon-group-1-badge {
    font-size: 9px;
  }
}

